[2015-11-19 23:05] kenmazaika opened #1 "Wireframes"
* Pen & Pencil (whiteboard & dry erase markers).
* Balsamiq (i'd suggest using pen and paper instead).
* Work with the existings Google+ group that we have.

[2015-11-19 23:07] kenmazaika opened #2 "Setup Devise"
We'll probably need users, so let's setup a system for it.

* Install the gem
* Allow people to login and logout.

[2015-11-19 23:08] kenmazaika opened #3 "Twitter Bootstrap"
* Let's add the Twitter Bootstrap gem into our app

[2015-11-19 23:09] kenmazaika opened #4 "Add simple_form to the app"
So we can have forms.

* Also make it look good with the Twitter Bootstrap styles.

[2015-11-19 23:16] kenmazaika opened #5 "Deploy the code live to Heroku"
As a member of the team we should be able to deploy to heroku.

In order to do that, whoever sets up the heroku app needs to add people by their email address:

Emails: `kenmazaika@gmail.com`, `lepley.matt@gmail.com`, `robertsapunarich@gmail.com`

[2015-11-20 00:16] Matt-Lepley commented on #5
- Deployed code to heroku (http://firehose-defcon.herokuapp.com/)
- Added Ken and Robert as collaborators

Edit: Changed to firehose-defcon to be more consistent with naming

[2015-11-20 00:52] colinrubbert opened #9 "Create Seeds.rb file"
#### Create `db/seeds.rb` file
Once devise and any other user sign up features are implemented, create a seeds.rb file to have a base database of users and content that anyone who joins the project or wants to contribute at a later date can easily populate the database with information.

[2015-11-20 19:01] kenmazaika commented on #2
In pull request on #11.

[2015-11-20 19:04] Matt-Lepley commented on #1
closed issue via https://github.com/FirehoseCommunity/DEFCON/pull/7

[2015-11-20 19:04] #1 closed

[2015-12-01 14:11] #5 closed

[2015-12-01 14:13] Matt-Lepley commented on #3
This was closed via https://github.com/FirehoseCommunity/DEFCON/pull/10

[2015-12-01 14:13] #3 closed

[2015-12-01 14:13] Matt-Lepley commented on #2
Closed via https://github.com/FirehoseCommunity/DEFCON/pull/11

[2015-12-01 14:13] #2 closed

[2015-12-03 23:14] kenmazaika opened #14 "Add the ability to have admin users"
Use your best judgement, but I would suggest adding a field on the user database table called `admin` and having it be a boolean value.

* Default the field to false

Don't worry about having it set to true.

[2015-12-03 23:22] kenmazaika opened #15 "First user has admin permissions"
Make it possible to create a new user, where the admin field is set to `true`.

* The first user that signs up should be defaulted to admin.
* I would suggest looking at the `before_save` callback in the model.

[code]

That would create a user in our database table with the admin flag set to `true`.

[2015-12-03 23:25] kenmazaika opened #16 "Admins should be able to make other users admins"
Build a separate page that allows admins to grant permissions to other users on the platform and the refactor for Admin so there is a single `AdminController` that all admins stuff can go through.

[2015-12-03 23:26] kenmazaika opened #17 "Write tests for the landing page that we have"
Controller test for the landing page that makes sure it doesn't give an error message.

[2015-12-03 23:28] kenmazaika opened #18 "Full CRUD for Posts"
We should have a post database table and model.

* title
* body -> should be a text field, not a string.
* user_id
* we'll use created_at timestamp

## Actions

* new
* create
* edit
* update
* destroy

[2015-12-03 23:33] kenmazaika opened #19 "Setup continuous integration"
Either with CodeShip or TravisCI.

Advice from Colin:

[2015-12-03 23:33] kenmazaika commented on #19
- Need to add user accounts to codeship.

[2015-12-03 23:34] kenmazaika opened #20 "Preventing Users from Signing Up"
Because we want to make this invite only, the URL path for:

`/users/sign_up` that is hooked up automatically by devise needs to be removed.

[2015-12-03 23:34] colinrubbert commented on #19
Firehose Project / Lightning talk video on setting up [Codeship](https://www.youtube.com/watch?v=iXCEqTfq9xw).

[2015-12-03 23:37] kenmazaika opened #21 "As an admin I should be able to invite users"
There should be a page where admins can invite a user.  Inviting someone will require their email address -> and it will create a user in the database with no password (or set it with a temporary password, with `SecureRandom.hex`).

Then, the user can be sent to the password reset flow, and then be a valid user who can login and do stuff.

[2015-12-03 23:39] kenmazaika opened #22 "Email Provider Needs to Be Setup"
If we setup email with either SendGrid or Mailgun on production, we can send emails from any email address.

[2015-12-03 23:39] kenmazaika commented on #21
The email will come from the address:

[code]

[2015-12-03 23:42] kenmazaika commented on #18
To create a new post, make a modal on the index page.  Edit will have it's own page.

[2015-12-04 00:28] robertsapunarich commented on #17
I disabled fixtures in the test_helper and included test helpers for devise. Would adding the FactoryGirl gem for future tests be a good call?

[2015-12-04 00:45] kenmazaika commented on #17
It's definitely a good call, but since it works with the models, we should probably hold off on doing that until #18 is resolved.

[2015-12-04 00:49] kenmazaika commented on #4
@Matt-Lepley did this one.

[2015-12-04 00:49] #4 closed

[2015-12-09 01:19] Matt-Lepley commented on #20
Issue closed via https://github.com/FirehoseCommunity/DEFCON/pull/24

[2015-12-09 01:19] #20 closed

[2015-12-09 01:19] Matt-Lepley commented on #14
Issue closed via: https://github.com/FirehoseCommunity/DEFCON/pull/25

[2015-12-09 01:19] #14 closed

[2015-12-10 23:15] Matt-Lepley commented on #15
closed via: https://github.com/FirehoseCommunity/DEFCON/pull/26

[2015-12-10 23:15] #15 closed

[2015-12-10 23:16] kenmazaika opened #27 "As an admin, I should be able to grant other users admin permissions"
User administration page that admins can go to and change access levels for users.

[2015-12-10 23:20] kenmazaika opened #28 "As a user, if I see a post, I can post in a threaded discussion"
* First, we'd want to figure out the database table.  Let's put a proposal on github in the issue, communicate about it, before we write the code.

Example in comment:

Field Name | Field Type
------------ | -------------
id | integer

* Second, make the full CRUD for a comment.  Allow it to be on a separate page.  Click on a new, and able to see just the form for the comment and submit stuff.

[2015-12-10 23:22] kenmazaika opened #29 "As a user, I should be able to upvote posts"
There may be a gem that makes this trivial.

First step, research is there a gem we should use?  If you find one, let's talk about it in the GitHub issue.

Second step, implementing the ability to upvote.

[2015-12-10 23:23] kenmazaika commented on #29
Let's have @amarkpark be assigned this once she accepts the group invite.

[2015-12-10 23:59] robertsapunarich commented on #29
I did a quick search and found this. https://github.com/ryanto/acts_as_votable

[2015-12-11 00:15] kenmazaika commented on #29
What are your thoughts on the gem, @amarkpark?

[2015-12-11 00:56] Matt-Lepley commented on #18
Issue closed via: https://github.com/FirehoseCommunity/DEFCON/pull/30

[2015-12-11 00:56] #18 closed

[2015-12-11 02:45] ceceliahavens commented on #28
I've feeling overwhelmed by the blank space of where to begin, since this is my flagship issue, If I am off base can you give me a nudge on where to begin?   if a user sees a post they want to comment on, we would need to reference the original post which is tied to the original user id, so our new post would be linked to both the current user and thus that user's ID (because it is tied to the ori

[2015-12-11 03:28] kenmazaika commented on #28
I think you're pretty close to on point with where you should be.  My advice is to translate your working of the stuff we'll need in the database table to a list of the fields along with the data types it should be.

It probably will look pretty close to the `comment` model in nomster, or that's where I might look for inspiration.

[2015-12-11 20:32] amarkpark commented on #29
@robertsapunarich's https://github.com/ryanto/acts_as_votable find is a great option, I'm also looking at https://github.com/bouchard/thumbs_up which is a slightly more full-featured option and appears to be patched more recently.  I'm giving them both due diligence before making a recommendation.

[2015-12-11 20:43] kenmazaika commented on #29
Another, more of a kitchen sink, social network gem is socialization, you may want to investigate:
https://github.com/cmer/socialization

[2015-12-11 21:23] amarkpark commented on #29
@kenmazaika will do... Question: do we want the ability to tabulate "karma"? Or do we want to support the FUTURE ability to do so in a later incarnation?

[2015-12-11 21:36] kenmazaika commented on #29
I hadn't thought about that, but I LOVE the idea!  So the answer is.... maybe?  I'm definitely open to feedback from @robertsapunarich @ceceliahavens @Matt-Lepley

[2015-12-11 21:48] amarkpark commented on #29
At this time it looks like Ken's suggestion of the socialization gem is well mapped out and has a good feature set and is at least current to within 4 months.  The docs clearly lay out all the model states and the methods associated with the states such that it would probably be easy to implement.  But it is missing the ability to A) downvote and B) track karma that I can see.  The thumbs_up gem h

[2015-12-11 22:05] kenmazaika commented on #29
Awesome research, Amanda!

[2015-12-11 23:22] ceceliahavens commented on #29
Can you explain your vision for Karma, and weighted Karma?  I'd  also like to discuss the pros and cons of using a karma system.    Since I live in the charming land of fielding hate messages daily  (buckle of the bible belt, plus AIDS Service Org, plus serving as one of the spokespersons for refugee resettlement in our community,  has me probably hyper-sensitive to looking at things from all angl

[2015-12-11 23:41] amarkpark commented on #29
Another optional upgrade is this gem that allows in-margin comments a la Medium: http://aroc.github.io/side-comments-demo/ .  I may be breaking the KISS rules with this last one.

@ceceliahavens Karma as I understand it allows the users who participate in the forums to have something akin to rankings of most-active.  And the thumbs_up gem allow for weighted karma which could potentially (off the t

[2015-12-11 23:41] ceceliahavens commented on #28
| Fields | Data Type |
| --- | --- |
| Message | Text |
| User_id | Integer |
| post_id | integer |

I am not sure of the appropriate verbiage for the post_id.  Am I correct to assume that will tie our comment to the original post?

[2015-12-11 23:47] amarkpark commented on #29
BTW @robertsapunarich @ceceliahavens @Matt-Lepley @kenmazaika a search for "vote" in rubygems.org has yeilded at least a dozen pages of results, so I'm sifting through to see if there are any other viable options.  I was thinking a medium-like voting/commenting option might be cool as it integrates comments and shares/likes in a novel way.  It might require basing the platform on a  making a mediu

[2015-12-11 23:49] colinrubbert commented on #29
If you don't want to reinvent the wheel, we've got a pretty successful and functional up vote system on the lightning talks app. It's pretty simple to implement... Down votes on a community driven application isn't necessary, down votes promote negativity. Our community should always be positive and designed to prop everyone up. Down votes can be toxic.

[2015-12-11 23:51] amarkpark commented on #29
@colinrubbert Did you write it from scratch or implement a gem?

[2015-12-11 23:53] colinrubbert commented on #29
@amarkpark scratch, it's fairly simple.

[2015-12-12 00:03] kenmazaika commented on #28
Looks good to me.  I think that makes sense!

[2015-12-12 00:21] amarkpark commented on #29
My final thoughts RE: functionality of upvote gems cited:
We don't HAVE to make the upvote decision based upon the other features.  Sharing, Following, and Member Karma have their own gems to add that functionality as distinct from the voting functionality.  Though I'm not sure the Sharing shares within the platform, it may just be for social shares to established other platforms.  So sharing intr

[2015-12-12 00:26] colinrubbert commented on #29
For features such as upvotes, sharing, following etc are all pretty simple features to write. Having a gem specifically handle these things may be overkill...I might have missed out on something from last night's meeting but things feel like they are becoming a bit overcomplicated already.

[2015-12-12 00:29] colinrubbert commented on #29
Let's keep this simple right out the gate. Let's just implement a simple and functional upvote feature. If we decide that we want to expand upon that we can always do that in the future. Remember the smaller we can go with a feature, the easier it is to maintain.

[2015-12-12 07:49] amarkpark commented on #29
Yeah, Ken suggested there may be a Gem for it in the meeting.  That's why we were discussing the Gems.

[2015-12-12 16:24] kenmazaika commented on #29
My gut tells me we should use both gems, both `thumbs_up` (for upvoting- for the sweeeeeeet karma support) and `socialization` (for everything else).  Building it from scratch would certainly work too.  Either way, it's up to you @amarkpark, do whatever you think the right call is.

[2015-12-12 19:10] colinrubbert commented on #29
The one thing that I would look into with the gems, if you use them, is whether or not the page reloads upon clicking a thumbs up or share. The big gripe I have with our lighting talks app is that when you click on a topic and give it a thumbs up it reloads the page. It's a small annoyance but would be 100x more user friendly if it didn't have to refresh the whole page.

I bring this up because it

[2015-12-12 19:32] amarkpark commented on #29
Here are my thoughts... perhaps Colin would be kind enough to point me towards the current implementation's upvote code and I can start adding all of the "best of" features for a FHP community karma system that includes platform specific upvotes, weighted karma, follows and mentions/shares with successive PRs.

We could call the karma the "awesome_factor".  Don't know why but that just came to me

[2015-12-14 21:17] amarkpark commented on #19
@Matt-Lepley Thanks for the invite/add I am able to view the project in codeship now.  Can potentially close this issue?  (or make it DEFCON 5?) ;-) Not sure what the internal protocol is here.

[2015-12-14 21:21] kenmazaika commented on #19
Nice!  Let's close this ticket! :) :+1:

[2015-12-14 21:21] #19 closed

[2015-12-16 14:19] Matt-Lepley commented on #22
Setting up MailGun through Heroku. Not sure what our custom domain should be for this.

[2015-12-16 22:14] amarkpark commented on #9
When I populate the Seeds.rb should I do it A) with static data: EX: create a generic admin user with a fake email address... Or B) customizable data and instructions in the Readme on appropriate use for the Seeds.rb? ED: seed admin user but ask developers to <insert your valid email here><password here> before running the rake db:seed task so they can have their own functional mail etc... Or C) a

[2015-12-16 22:41] kenmazaika commented on #9
I don't think we should create the admin user through the seeds file.  Instead I think we may want to build a custom rake task, such that running:

[code]

Would make me an admin.  Just my 2 cents.

[2015-12-16 23:42] amarkpark commented on #9
On it

[2015-12-17 02:36] amarkpark commented on #9
This is addressed in PR: https://github.com/FirehoseCommunity/DEFCON/pull/33

@kenmazaika the syntax of the implementation is a bit different than your suggestion, I put use guidelines in the PR notes. I'd be happy to add them to the Readme or anywhere else FHP likes to document.

[2015-12-17 23:15] kenmazaika commented on #27
duplicate of #16

[2015-12-17 23:15] #27 closed

[2015-12-17 23:56] amarkpark commented on #16
@kenmazaika since this issue is closely related to the updates we discussed to the Rake task PR you just merged in the meeting would you like me to do this while I'm at it, or focus on the upvote system?

[2015-12-18 00:35] kenmazaika commented on #16
Sure @amarkpark!! :)

[2015-12-21 17:40] robertsapunarich commented on #21
Do you think using DeviseInvitable would be a good call? Trying to think of the best way to go about this. https://github.com/scambra/devise_invitable

[2015-12-21 18:14] kenmazaika commented on #21
I wasn't aware of this gem.  Feel free to give it a shot!  If it proves to be a pain, we can always write it by hand.

[2015-12-31 17:39] #22 closed

[2015-12-31 23:14] kenmazaika opened #38 "Fix the Top Nav"

[2015-12-31 23:18] kenmazaika opened #39 "After a post is create email notifications should go out"
Initially let's make the emails go out to all users.

[2015-12-31 23:19] kenmazaika opened #40 "As a user, i I might want to stop getting notifications"
We should add a setting on the users table for:

[code]

That will allow people to get email notifications, but not spammed.  So we'll also need a user/settings (dashboard) page, where a user can adjust their settings.

[2015-12-31 23:26] kenmazaika opened #41 "Styling is a bit off on the posts/index page"
Cleaning that up a little could make it look better.

[2015-12-31 23:29] kenmazaika opened #42 "Add a rich text description"
To both do the research and implement it.

* We could use a WIYSIWYG javascript editor
* mark down editor could be cool, because that's what github uses.
* or tinymce
* ckeditor

[2015-12-31 23:34] kenmazaika opened #43 "Prepopulate abstract from a link that is shared."
Use FB Open Graph tag, parse them from the first link on post creation and store the abstract / aka description in the database so every time we load the page we can draw the preview from the post.

* Use title
* Use description.
* (Maybe image)

[2015-12-31 23:35] kenmazaika opened #44 "If someone includes a link in the post, make it clickable."
There are rails helpers that make this very easy.  It should be a single line of code.

[2016-01-02 21:47] ceceliahavens commented on #39
Do you remember when you were in school and a teacher called on you, but you weren't actually paying attention, and you panicked a little?  Well funny story......I was trying to get my DEFCON app open when you were discussing this ticket and I wasn't really paying any attention. (some things never change)  Can I get some clarification on what it is I signed up for?  Because if we leave it up to me

[2016-01-03 00:25] kenmazaika commented on #39
I love the image!

When a user creates a post, initially all users in our database should receive an email notification so they know they should come to the platform and check it out.  It's our version of this in Google+

![screen shot 2016-01-02 at 7 24 51 pm](https://cloud.githubusercontent.com/assets/233615/12076733/919b78e0-b186-11e5-9301-6e5bfb7efb79.png)

[2016-01-03 00:48] jeffgerlach opened #47 "Logging in turns users' admin flag to false"
Currently if you make a single user, their admin flag is set to true. But then when you log into the site, their sign in attributes are updated, which calls the before_save action (check_if_first_user) and sets the admin flag to false....and since there is a user in the database, it can never be set back to true.

[2016-01-03 01:23] jeffgerlach commented on #40
addressed in #48

[2016-01-03 01:29] kenmazaika commented on #47
I believe @amarkpark was working to remove the whole "first user is an admin" functionality.  In the process, that should fix the problem.

[2016-01-03 02:00] ceceliahavens commented on #39
I am over the moon about how much those puppies seem to hate the Hoff, and I will hopefully get started on this tomorrow. Thanks for the clarification!

[2016-01-03 07:21] amarkpark commented on #16
@kenmazaika I see in the migration history that the admin column default was previously "false" but the default was removed (I'm guessing when the odd first user logic was added to make the first user an admin?)  Safe to assume I can re-add the default false value for users?  And is it important to write migrations so that they can be reversed?

[2016-01-03 15:48] kenmazaika commented on #16
I think that is a logical thing to do. :+1:

[2016-01-03 22:17] jeffgerlach commented on #44
Will be in this part of the code for the open graph stuff, so figured i can pick this up.

[2016-01-03 22:21] amarkpark commented on #16
BTW @kenmazaika I tried moving those Rake-specific methods into the User.rb Model but Rake couldn't call them when they were removed from the rakefile.  I thought that was what I had read/understood while researching.  Rake can use methods for DRY, but seems they're special methods inside the rakefile.

[2016-01-03 23:26] amarkpark commented on #47
Hey grab the current Master branch and see if the PR Ken merged earlier fixes the issue?

[2016-01-04 00:01] amarkpark commented on #16
I'm trying to figure out if Admin pages should be subbed under an Admin folder the same way Instructor views were subbed under an Instructor folder in Flixter - separate controllers etc... @kenmazaika please advise?

[2016-01-04 00:12] kenmazaika commented on #16
You should be able to move methods into the model so long as you use the `=> :environment` syntax when defining the task.

I like the idea of nesting admin stuff under the admin namespace a lot!

[2016-01-04 00:24] jeffgerlach commented on #47
Looks like #49 did indeed fix this bug. Awesome work @amarkpark!

[2016-01-04 00:24] #47 closed

[2016-01-04 00:30] jeffgerlach commented on #44
Addressed in #50.

[2016-01-04 05:48] jeffgerlach commented on #43
Addressed in #51

[2016-01-04 17:48] Matt-Lepley commented on #41
PR: https://github.com/FirehoseCommunity/DEFCON/pull/52

Made the header and button centered and not stuck on other divs:

![image](https://cloud.githubusercontent.com/assets/11146542/12096094/0bfb319c-b2e1-11e5-84e1-97aa3985051f.png)

Adjusted the submit modal since we had buttons not working / not in use:

![image](https://cloud.githubusercontent.com/assets/11146542/12096111/233ed25a-b2e1-11e5-8

[2016-01-07 06:16] amarkpark commented on #38
Is this about the navbar-nav right not pulling to the right?

[2016-01-07 15:27] ceceliahavens commented on #38
I think it is about hooking up the links, which I did already, but it might be about the spacing issue.  I honestly don't remember.

[2016-01-07 15:28] #28 closed

[2016-01-07 16:13] kenmazaika commented on #38
The navbar used to be broken a bit.  There were links in the navbar overhanging and they weren't styled like navbar links, but blue like regular links.  This issue may be fixed now.

[2016-01-07 23:00] amarkpark commented on #16
preliminary, not done yet: https://github.com/FirehoseCommunity/DEFCON/tree/amp/admins_promote_users_issue16

[2016-01-07 23:24] kenmazaika opened #55 "Turbolinks should be disabled"
It currently is in the Gemfile.  It should be removed both from the Gemfile as well as from the `application.js` file.  This should fix the problems.

[2016-01-07 23:29] kenmazaika opened #56 "Admin invite functionality should use type ahead search"
When you start typing the  name of the user you want to promote it should give a suggestion of what user to invite.

[2016-01-07 23:30] #42 closed

[2016-01-07 23:31] kenmazaika opened #57 "Inviting users should be in the Admins Controller Namespace"

[2016-01-07 23:32] #44 closed

[2016-01-07 23:35] kenmazaika opened #58 "Posts should be emailed out to everyone with comment_notification true"
We currently have a boolean field that users use to indicate they want to be emailed notifications.  We have the notification mailer in a separate ticket.  This ticket is to glue those two pieces together.

[2016-01-07 23:39] kenmazaika opened #59 "The comments should use the markdown editor that our app uses"

[2016-01-07 23:40] kenmazaika opened #60 "The post show page has the comments separate from the post"
Let's put the comments inside the same box as the post itself just a little lower.

[2016-01-07 23:41] kenmazaika opened #61 "The date format on the index page is weird"
Let's use a better format for it.

![screen shot 2016-01-07 at 6 40 39 pm](https://cloud.githubusercontent.com/assets/233615/12186188/3c7024b0-b56e-11e5-8ae6-e07bbe40ce6a.png)

[2016-01-07 23:43] kenmazaika opened #62 "User's should have an avatar based on their gravatar"
https://en.gravatar.com
https://github.com/sinisterchipmunk/gravatar

[2016-01-07 23:46] kenmazaika opened #63 "Style the landing page"
Maybe it could have a hero image.

[2016-01-08 00:51] jeffgerlach commented on #58
So there are actually 2 notification Boolean fields, one to be notified of new posts and one for notifications of comments on the users' posts. Assuming we want to start off addressing the first case (for new posts)?

[2016-01-08 01:17] kenmazaika commented on #58
That makes sense.  Thanks for clarifying, @jeffgerlach.

[2016-01-08 02:19] amarkpark commented on #16
PR is up:
https://github.com/FirehoseCommunity/DEFCON/pull/64
REALLY needs styling but it is at least functional.

[2016-01-08 05:51] jeffgerlach opened #65 "Background defined in master.css.scss not saved into assets folder"
On line #34 of master.css.scss there is a reference to a 'crossword.png' which I think just got left out of a commit. Should be an easy fix! (just noticed a bunch of errors in the server log/browser console)

[2016-01-08 06:27] jeffgerlach commented on #62
Addressed in #66. Ended up going with the gravtastic gem since it was a little more user-friendly.

[2016-01-08 06:30] jeffgerlach commented on #56
Will pick this up once #64 is merged!

[2016-01-08 08:57] amarkpark opened #67 "WYSIWYG editor not fully enabled in my Chrome session locally"
I can't currently log in to the herokuapp page to see if it works the same way there. The following screenshot shows the post editor without any editing controls:
![screen shot 2016-01-08 at 2 37 25 am](https://cloud.githubusercontent.com/assets/13741014/12194079/a1c9a9f0-b5b2-11e5-96b1-d44364b4b147.png)

I recall using Sharepoint I would run in to this issue of no editor controls visible when I t

[2016-01-08 14:20] nicolaguidi commented on #55
Addressed in #68

[2016-01-08 15:10] kenmazaika opened #69 "WYSIWI Editor is causing a deprecation warning in tests"
[code]

This PR explains how to fix the simple form deprecation warnings in custom simpleform inputs.

https://github.com/plataformatec/simple_form/pull/997

[2016-01-08 20:25] ceceliahavens commented on #65
I'm not sure who uploaded the original file, but I will replace it with something else to get the bug resolved.

[2016-01-08 20:31] ceceliahavens commented on #65
issue resolved when I styled the index page, I assigned a different background and took out the crossword.png. I did find the original file in suptlepatterns and upload it in case we want to bring it back. It is a very soft subtle white background.

[2016-01-08 20:38] #38 closed

[2016-01-08 20:38] #39 closed

[2016-01-08 20:39] #65 closed

[2016-01-08 21:04] #59 closed

[2016-01-12 00:00] nicolaguidi commented on #61
Addressed in #75
For posts we could also use something like 'Posted X minutes/hours/days ago'...

[2016-01-12 00:28] kenmazaika commented on #61
@nicolaguidi I love the idea.  Just like instagram!

![screen shot 2016-01-11 at 7 28 22 pm](https://cloud.githubusercontent.com/assets/233615/12251024/84b79784-b899-11e5-8a97-1089f25a8db5.png)

[2016-01-12 00:30] kenmazaika opened #76 "The post should show how long ago the post was made."
If it has been posted less than an hour ago, it should say "Posted x Minutes Ago".  If it's under 24 hours is should say "Post x Hours Ago".  Otherwise it should say "Posted X days ago".  Similar to Instagram.

![screen shot 2016-01-11 at 7 28 22 pm](https://cloud.githubusercontent.com/assets/233615/12251052/b5b305e4-b899-11e5-8e20-6c1d60293adc.png)

[2016-01-12 04:50] nicolaguidi commented on #58
Addressed in #77.
I wasn't able to write enough tests as I wanted to. I also added `pry-byebug`.

[2016-01-12 07:21] jeffgerlach commented on #76
Addressed in #78.

[2016-01-12 17:10] kenmazaika opened #80 "Investigate WYSIWYG in comments"
According to @jeffgerlach:

We should look into getting this working as designed.

[2016-01-12 21:05] kenmazaika opened #81 "Notification Mailer Can Be Optimized"
Right now we're looping through each user and delivering an email to them individually.  If we have 100 people who receive the post and it takes 1 second to send each email, that means it would take 100 seconds, or almost 2 minutes for the request to happen.

This is a good opportunity to use background tasks, such as SideKiq to perform the tasks asynchronously, so the emails will go out after the

[2016-01-13 04:54] jeffgerlach commented on #80
Turns out this was a quick fix, so I threw it into #79 - also fixes markup in the post body.

[2016-01-13 04:58] jeffgerlach opened #82 "If Post is created with no title, there is no direct link available to click to get to the post show page"
May be worth it to put validations on the Post model to ensure there isn't a blank title or body. If there isn't a title for a post, you have to manually type in the URL to view the post show view.

[2016-01-13 15:55] kenmazaika opened #83 "Warning when you delete posts and comments."
When a user triggers a deletion of a post or comment they should be prompted "Are you sure?" and if they click "Ok" it should be deleted.  Otherwise it should not be.

[2016-01-13 15:55] kenmazaika opened #84 "Editing Posts and Comments do not use the WYSIWYG editor."
If you click on the edit button for a comment, you are brought to a standard html form, not the WYSIWYG editor. Same (i think) for post updates.

[2016-01-13 15:56] kenmazaika commented on #82
Agreed!

[2016-01-14 23:32] #43 closed

[2016-01-14 23:32] #55 closed

[2016-01-14 23:32] #56 closed

[2016-01-14 23:32] #60 closed

[2016-01-14 23:32] #61 closed

[2016-01-14 23:32] #62 closed

[2016-01-14 23:32] #63 closed

[2016-01-14 23:32] #76 closed

[2016-01-14 23:34] kenmazaika commented on #83
@grandtheft-spaceship, can you take a look at this issue?

[2016-01-14 23:36] kenmazaika opened #86 "The landing page has a white line instead of the hero being flush"
We should work on that style a little bit.

[2016-01-14 23:38] kenmazaika opened #87 "The topnav should have a pop-down menu"
Like in the wireframes.

[2016-01-14 23:41] kenmazaika opened #88 "Setup a Badge System so Admin can grant users custom badges"
Allow custom and canned badges.

[2016-01-14 23:43] kenmazaika opened #89 "As a user I should have the ability to add my firehose slack handle"
and the slack handle should be displayed underneath the post, close to the user's avatar.

[2016-01-14 23:45] kenmazaika opened #90 "As a user, if I interact with a post, I want to be notified about future comments"
Eventually this will tie in to upvoting, but to start with let's just notify the following people:

* The person who authored the initial post
* Anyone who commented on the post.

[2016-01-15 16:44] #17 closed

[2016-01-15 16:44] #21 closed

[2016-01-16 00:43] robertsapunarich commented on #86
I can take this one!

[2016-01-16 01:48] kenmazaika commented on #86
Awesome!  Thanks, Robert! :)

[2016-01-17 22:33] #40 closed

[2016-01-17 22:34] #80 closed

[2016-01-18 21:05] #58 closed

[2016-01-20 17:05] kenmazaika opened #94 "Get Asynchronous Mail Sending Working on Production"
It looks like suckerpunch (instead of sidekiq) might do the trick.  Alternatively, we could set up the app on a digital ocean instance, but that's a lot of work.

[2016-01-20 17:51] #69 closed

[2016-01-20 17:54] ceceliahavens commented on #67
I pulled this up in Chrome and Firefox and saw the appropriate markdown editor with both browsers.

[2016-01-20 17:56] kenmazaika commented on #67
Awesome!  Thanks, @ceceliahavens! :) :+1:

[2016-01-20 17:56] #67 closed

[2016-01-20 18:01] ceceliahavens commented on #87
Could you please clarify for me? I have just looked at the wireframes but I am not clear on what we are looking for here.  Thanks!

[2016-01-20 18:50] kenmazaika commented on #87
The wireframes indicate that on the top right there should be a dropdown menu like here:

https://getbootstrap.com/examples/navbar/

[2016-01-21 05:19] amarkpark commented on #9
PR https://github.com/FirehoseCommunity/DEFCON/pull/96

[2016-01-21 05:19] #9 closed

[2016-01-21 05:59] amarkpark commented on #87
@ceceliahavens You can look at (or steal) the dropdown that I have as the Admin Menu... https://github.com/FirehoseCommunity/DEFCON/blob/master/app/views/layouts/_adminmenu.html.haml
Right now there is only one functional link in there, it was just something I added for grouping together admin stuff but we can actually move that whole menu into the main navbar and change out current placeholder li

[2016-01-21 17:52] ceceliahavens commented on #87
Thanks @amarkpark I already implemented one before I read your offer!  @kenmazaika, what is supposed to be included in the drop down? That is the part I was unclear on. I've committed to the dropdown branch the skeletal structure of a dropdown, which just took me a minute to do, but I am not sure by the wireframes what the dropdown is supposed to include.  I'll use the dropdown branch as the place

[2016-01-21 18:01] kenmazaika commented on #87
I believe the wireframes I have include the items that it should have.  Take a look there.  I think it has "Sign in" and "Sign out" in a popup along with the user name.

[2016-01-21 18:42] ceceliahavens commented on #84
I updated these, however I notice there is no clickable button to take you to edit posts, and there was no styling when you manually typed the link. I went ahead and added a booyah box to match the other pages for the posts/edit but I think we can make another ticket for the edit buttons for posts.

[2016-01-21 18:44] ceceliahavens commented on #87
Thanks, those were floating off to the side and it said "pop up" so i wasn't sure if that was something else we were after.  I'll get it taken care of straight away.

[2016-01-21 18:51] kenmazaika commented on #87
Thanks, @ceceliahavens!

[2016-01-21 22:58] #86 closed

[2016-01-21 23:12] kenmazaika opened #100 "Add a button to invite a user on the view"
It should be in the admin/user space so it's inside the protected admin area.

[2016-01-21 23:19] kenmazaika opened #101 "Populate Test Data"
Let's do it instead of a seed file, so it in a stand alone rake task.

[2016-01-21 23:27] kenmazaika opened #102 "Add instructions on how to install redis to the README."

[2016-01-21 23:40] kenmazaika opened #103 "As a User I should be able to edit the post"
Right now there is no button to go to the edit page.  There should be one.

[2016-01-21 23:45] kenmazaika opened #104 "Add a link to invite users to topnav for admin users"
I needed to go directly to the URL.

[2016-01-22 01:55] amarkpark opened #106 "As a User, I should be able to change my password"
Perhaps in the User Dashboard?

[2016-01-22 02:04] kenmazaika commented on #106
I think you can if you follow the standard password reset flow.  Adding a more user friendly way in the dashboard is a great idea though. :+1:

[2016-01-22 02:16] amarkpark opened #107 "As a User, I should have the ability to add my github handle"
Potentially in the User Dashboard?

[2016-01-22 02:23] amarkpark opened #108 "As a User, I should be able to change/update my avatar"
this may be related to the Issue https://github.com/FirehoseCommunity/DEFCON/issues/107 as it may be possible to pull gr/avatar from github

[2016-01-22 02:25] amarkpark commented on #107
This may be related to Issue https://github.com/FirehoseCommunity/DEFCON/issues/108 if someone decides to implement the [Github API](https://github.com/peter-murach/github)

[2016-01-24 01:52] tylerpendleton opened #110 "As an Administrator, I should be able to remove posts."

[2016-01-24 01:52] tylerpendleton opened #111 "As a User, I should be able to remove my own posts."

[2016-01-24 02:00] tylerpendleton opened #112 "Font colors should be adjusted for readability."
Dark text over dark backgrounds can be difficult to read.

![screen shot 2016-01-23 at 8 53 00 pm](https://cloud.githubusercontent.com/assets/10295376/12533993/bb9891c6-c213-11e5-8c77-633784656d1f.png)

[2016-01-24 03:00] kenmazaika commented on #112
Awesome job, pointing out areas we can improve in the app, @tylerpendleton!

[2016-01-25 05:42] jeffgerlach commented on #102
May not need this if we end up implementing #114

[2016-01-25 15:49] kenmazaika commented on #102
We may want to switch this to be instructions to start the rails server.

[code]

We definitely don't need instructions to install redis anymore though.

[2016-01-26 01:54] robertsapunarich commented on #102
I can do this. I missed the conversation on why this is the case though. Does it have to do with sucker punch?

[2016-01-26 01:57] kenmazaika commented on #102
Doesn't have to do with suckerpunch.  Just because we upgraded rails, if you're on vagrant this command needs to run to start the server.

[2016-01-26 07:06] jeffgerlach commented on #94
Got this working in #114, and upgraded the app to Rails 4.2

[2016-01-26 07:06] #94 closed

[2016-02-04 22:59] kenmazaika opened #119 "Forgot Password Page needs styling love"
I forgot my password and was prompted with this on heroku:

![screen shot 2016-02-04 at 5 59 09 pm](https://cloud.githubusercontent.com/assets/233615/12832614/06e209e2-cb69-11e5-839a-08fac51f0727.png)

[2016-02-04 23:00] kenmazaika opened #120 "Mailer Host Doesn't Match Production Host"
When I reset my password I was sent to the domain `http://defcon-firehose.herokuapp.com` instead of `http://firehose-defcon.herokuapp.com`

[2016-02-11 23:28] #120 closed

[2016-02-11 23:29] #57 closed

[2016-02-11 23:30] #102 closed

[2016-02-11 23:34] kenmazaika commented on #111
@jayda15 can you grab this one?

[2016-02-12 01:03] Matt-Lepley commented on #110
https://github.com/FirehoseCommunity/DEFCON/pull/124

[2016-02-12 19:23] robertsapunarich commented on #103
Resolved in #117

[2016-02-12 19:23] #103 closed

[2016-02-12 19:24] robertsapunarich commented on #100
Resolved in #109

[2016-02-12 19:24] #100 closed

[2016-02-18 23:35] #119 closed

[2016-02-25 23:22] kenmazaika commented on #107
https://github.com/plataformatec/devise#strong-parameters

[2016-02-25 23:30] kenmazaika commented on #108
Let's authenticate with GitHub and also use the omniauth-github gem:
https://github.com/intridea/omniauth-github

This is quite a bit of work and will likely take multiple weeks, but at the end, we'll be able to get from GitHub things like:
- Number of Repos
- GitHub Handle
- Avatar

And we can use that as needed.

[2016-02-25 23:33] #29 closed

[2016-02-25 23:34] #41 closed

[2016-02-25 23:34] #84 closed

[2016-02-25 23:39] kenmazaika commented on #87
Implemented!

[2016-02-25 23:39] #87 closed

[2016-02-25 23:40] kenmazaika opened #127 "Posts Index Page Is off"
Right now, the posts index page looks like this:

![screen shot 2016-02-25 at 6 39 27 pm](https://cloud.githubusercontent.com/assets/233615/13338401/21eda4bc-dbef-11e5-847c-fb21e0d32613.png)

We should do the following:

* Remove the headline that is in black that says "Write a post".
* Remove the button that pops up the modal.
* Add to the topnav a button to "Add a new Post".  Clicking this will

[2016-03-01 16:14] NKHolton commented on #107
I'll admit I'm having trouble understanding where to start with this.  My original thought was just to run a migration to add the 'github_handle' field to the Users table then add the appropriate 'stuff' in application.html.haml where it looks like the other My Profile information is located.  With the Devise link you provided above, Ken, I don't understand how this is associated with Devise.  Isn

[2016-03-01 16:28] kenmazaika commented on #107
On signing up, as a user, you should be able to enter your GitHub handle.  First step is to add the database field.  The second step is to add the fields to the form.

[2016-03-01 17:17] NKHolton commented on #107
Ok, thanks, Ken.  As for the Registration page/view I can't find it.  Looked back in rake routes and went to localhost:3030/users/sign-in but there's only a sign-in option and no sign-up page from what I can see.  Am I missing something?

[2016-03-01 17:44] kenmazaika commented on #107
Ah, right, we have an invite process. Checkout this file:

https://github.com/FirehoseCommunity/DEFCON/blob/master/app/views/admin/users/invitations/new.html.haml

[2016-03-01 17:53] robertsapunarich commented on #107
Natalie - just sent you a message on slack. Want to pair on this? I'll be available shortly.

Sent from Outlook Mobile

On Tue, Mar 1, 2016 at 9:47 AM -0800, "ken mazaika" notifications@github.com wrote:

Ah, right, we have an invite process. Checkout this file:

https://github.com/FirehoseCommunity/DEFCON/blob/master/app/views/admin/users/invitations/new.html.haml

—
Reply to this email directly

[2016-03-02 21:45] robertsapunarich opened #129 "Ensure a user's posts are deleted if a user account is deleted."
This came to as I was reviewing some best practices. In the User model, we should add `dependent: :delete` to the `has_many :posts` line.

[2016-03-02 22:06] kenmazaika commented on #129
Smart!

[2016-03-03 06:57] #90 closed

[2016-03-03 07:00] jeffgerlach commented on #81
Addressed in #114

[2016-03-03 07:00] #81 closed

[2016-03-03 08:32] VictoriaBrouard commented on #127
Please see pull request.  I think I've acheived everything above.

[2016-03-03 12:50] NKHolton commented on #107
Maybe a silly question but can I go ahead and push my partial changes/branch to github.  I've done what I think to be most of the edits needed for this but not all.  Thx!

[2016-03-03 12:51] NKHolton commented on #107
...and create a pull request I mean.

[2016-03-03 12:52] Matt-Lepley commented on #107
Of course. As long as your branch is unique and not master feel free to push the branch to github and then make a PR with that branch.

[2016-03-03 12:59] NKHolton commented on #107
Ok, thanks, Matt!

[2016-03-03 13:03] Matt-Lepley commented on #107
Not a problem, and not a silly question. :)

[2016-03-03 13:56] VictoriaBrouard commented on #127
Just a thought.... it wasn't in the brief but the view posts page also has the "Write a Post' button, so perhaps this should be removed too.

[2016-03-03 14:01] VictoriaBrouard commented on #112
In addition to the above which I completed as part of Issue 127,  I can see there is black text on the black background on the User Dashboard too, but rather than change this, I don't think the text is needed at all.  I'll make a pull request to this effect.

[2016-03-03 15:30] kenmazaika commented on #127
Awesome!

[2016-03-03 15:30] #127 closed

[2016-03-03 15:31] kenmazaika commented on #112
Perfect!

[2016-03-03 23:11] kenmazaika opened #134 "Comments should be removed if the user is deleted"
Add `dependent destroy` functionality to the user model.

[2016-03-03 23:12] kenmazaika opened #135 "Comments should be removed if posts are destroyed"
`Post` model should have `dependent_destroy` functionality.

[2016-03-03 23:18] kenmazaika opened #136 "Additional Details should be shown on the posts#index page"
When we hover over a user's name, a Twitter Bootstrap pop-up should be displayed to the person who is on the page and it should show them the user's github handle.

[2016-03-03 23:20] kenmazaika opened #137 "ApplicationController has extra code in it"
I suggested we add the github_handle parameter to the user sign flow with devise, but users cannot signup.

We should remove the devise configuration sanitizer code from `application_controller.rb`.

[2016-03-03 23:20] kenmazaika opened #138 "Users cannot sign up, so page shouldn't exist"
We have a view in `app/views/devise/registrations/new.html.haml`.  It should be deleted, since it cannot be shown.

[2016-03-03 23:28] #16 closed

[2016-03-03 23:31] #112 closed

[2016-03-03 23:33] kenmazaika commented on #137
@darthdarkfather, why don't you grab this one.

[2016-03-03 23:34] kenmazaika commented on #138
@enico why don't you grab this one.

[2016-03-08 02:56] robertsapunarich commented on #129
#130

[2016-03-08 02:56] #129 closed

[2016-03-08 08:14] VictoriaBrouard commented on #88
@robertsapunarich

Hi Robert - I was wondering if you wanted to pair on this as I think I need a little guidance - I was hoping your extra few months in the coding world would help.  I've done some digging online and I can see quite a bit about adding merits and reputations badges for gaming, which is close to what's needed but not quite as the badge will be admin added, not dependent on scores/le

[2016-03-08 15:00] kenmazaika commented on #88
Looks like an interesting gem, super useful.  I was thinking you could build it from scratch.  All I was thinking initially was having a separate database model for "Badge" that belongs to user, and then have standard CRUD to manage it.  Using the gem might be a good idea though.

[2016-03-08 23:08] #138 closed

[2016-03-09 15:29] NKHolton commented on #136
Looking for some direction on this.  W3Schools gives a good tutorial for a Bootstrap popover where I can hover over something and it'll show the popover.  I  signed into Defcon as an admin and have localhost up.  I created a post so I could see what's shown to the user.  Just to double-check...it appears as though the user's email is displayed after their post, under their avatar?  My 1st thought

[2016-03-09 15:36] kenmazaika commented on #136
What you have looks close, but it's sort of a mix between haml and HTML, which is what's causing you problems.  I'd suggest figuring out how to do it with full HTML first, then converting that to HAML, instead of trying to mix the two.

[2016-03-09 15:51] NKHolton commented on #136
Ok so I tried this:

`%a{"data-content" => "user.github_handle", "data-toggle" => "popover", "data-trigger" => "hover", :href => ""}
          - if post.user.present?
            %small
              = post.user.email`

But it's still making the email look like a link which I don't want.  I guess that's what the W3Schools tutorial shows though..the popover via a link.  Found this tutorial as well:

[2016-03-09 15:54] kenmazaika commented on #136
I suggest you get code that would work in a different project using HTML / ERB (maybe jump into nomster).  Then once you get that working port it to the DEFCON app.  I also suggest using the twitter bootstrap documentation instead of other sources.

[2016-03-09 16:14] NKHolton commented on #136
Sounds good, will keep trying!

[2016-03-10 14:55] VictoriaBrouard commented on #88
I've started on this and I was going to work on the basis that I could add a form/button for modal form to the user's profile page only visible to admin.  The admin could then select and apply a badge to be shown on the user profile page.

However....do we have a user profile show page yet?  I can see we have the user dashboard, but this will only be viewable by the user not admin or anyone else.

[2016-03-10 15:30] kenmazaika commented on #88
I believe the user dashboard is the file in `app/views/users/show.html.haml`.  You should be able to access it by: `/users/:id`, if I remember correctly.

[2016-03-10 21:15] VictoriaBrouard commented on #88
I understand this but I mean from a use perspective, the badges are given by admins to users right?  so if I add the form/button to the user dashboard, this isn't (or won't be) accessible by admins, only the user to who it belongs to, so how would an admin use the function?

[2016-03-10 21:22] kenmazaika commented on #88
Sure they could.  You could add a check on a non-admin page for the thing.

[code]

[2016-03-10 23:12] VictoriaBrouard commented on #88
I've moved this forward but am stuck with my controller.  I think I have a problem with user params...  can you check out my branch - issue 88.

Thank you and sorry I couldn't make the call - I would have asked this question then.

[2016-03-10 23:52] kenmazaika opened #145 "HAML Cheat Sheet"
To cover the few fundamentals of HAML.

* what `%`
* what `.` does (adds a class)
* what `#` does (adds id)
* what `{}` (add properties...in ruby)
* what is nesting
* difference between `=` and `-`

[2016-03-10 23:53] #137 closed

[2016-03-10 23:57] kenmazaika commented on #110
@VictoriaBrouard why don't you grab this ticket.  It's related to #111, I might suggest syncing up / working with @NKHolton

[2016-03-15 00:29] ghost commented on #89
Is there a way I can sign in as an existing user to test out this feature locally, cause right now there is no way to sign up?

[2016-03-15 00:46] kenmazaika commented on #89
Checkout the `README` of the app.  If you run the commands, in the [Developer Notes](https://github.com/FirehoseCommunity/DEFCON/blob/master/README.md#developer-notes) section it will show you commands you can run to populate the first users in your database.

[2016-03-15 00:52] ghost commented on #89
Thank you!

[2016-03-15 00:53] kenmazaika commented on #89
Happy to help! :smile:

[2016-03-16 07:51] VictoriaBrouard commented on #88
Hi Ken

I just wondered if you'd been able to look at this?

[2016-03-16 14:24] kenmazaika commented on #88
I made some notes over on this Pull Request a few days ago:
https://github.com/FirehoseCommunity/DEFCON/pull/146

That has the notes I had on your code.  It's easier to comment about the code directly inline, seeing the code side-by-side, so I made a PR.